
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/articles">Wikinimous</a>
  <form class="form-inline">
    <a href="/articles/new">New Article</a>
  </form>
</nav>
